<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <system.webServer>
<handlers>
            <remove name="PHP5-FastCGI-phtml" />
            <remove name="PHP5-FastCGI-php3" />
            <remove name="PHP5-FastCGI-php" />
            <add name="PHP5-FastCGI-php" path="*.php" verb="GET,HEAD,POST" modules="FastCgiModule" scriptProcessor="D:\Parallels\Plesk\Additional\PleskPHP74\php-cgi.exe" resourceType="Either" requireAccess="Script" />
            <add name="PHP5-FastCGI-php3" path="*.php3" verb="GET,HEAD,POST" modules="FastCgiModule" scriptProcessor="D:\Parallels\Plesk\Additional\PleskPHP74\php-cgi.exe" resourceType="Either" requireAccess="Script" />
            <add name="PHP5-FastCGI-phtml" path="*.phtml" verb="GET,HEAD,POST" modules="FastCgiModule" scriptProcessor="D:\Parallels\Plesk\Additional\PleskPHP74\php-cgi.exe" resourceType="Either" requireAccess="Script" />
</handlers>

   </system.webServer>
</configuration>
